.display {
  box-sizing: border-box;
  width: 100%;
  padding: 0.25em 1.4rem;
  margin: 0rem auto 1.5rem;
  text-align: right;

  color: white;
  font-family: 'Product Sans', Helvetica, sans-serif;
  font-size: 2.3rem;

  background-color: #80ccdd;
  box-shadow: inset .25rem -.25rem .35rem -.1rem rgba(255, 255, 255, 0.08), 
  inset -.2rem .2rem .35rem -.1rem rgba(0,0,0, .04);
}